// Sleeky Admin Dark UI Theme

// Define theme
$theme: "dark";

// Set up our basic colour scheme
$lightest: #EBEEF1;
$light:    #EBEEF1;
$default:  #202327;
$darker:   #1b1d21;
$darkest:  #1b1d21;

// Accents
$accent:     #1b1d21;
// $accent_primary:      #007bff;

// Text colours
$title:    #EBEEF1;
$text:     #fff;

// Import the base styles
@import "../base.scss";